
.container{
    width: 80%;
    margin: 0 auto;
}
.hero-section{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,10,51,1) 76%, rgba(0,0,0,1) 100%);
}

.custom-shape-divider-bottom-1698170642 {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 5rem;
    overflow: hidden;
    line-height: 0;
    
}

.custom-shape-divider-bottom-1698170642 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
    background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,10,51,1) 76%, rgba(0,0,0,1) 100%);
}


.custom-shape-divider-bottom-1698170642 .shape-fill {
    fill: #ffffff;
    
}